@font-face {
    font-family: myRiad; /* Гарнитура шрифта */
    src: url(../fonts/myriadpro.otf); /* Путь к файлу со шрифтом */
}

body{
	font-family: myRiad;
	font-size: 14px;
}
header, footer{
	background-color: #141f4b;
}
section{
    padding: 0;
}
a{
    color: inherit;
}
a:hover, a:focus{
    color: inherit;
    text-decoration: none;
}
.btn, .label{
	background-color: rgb(241, 224, 39);
	color: #333;
	padding: 0;
	text-transform: uppercase;
	box-shadow: inset 0px 6px 14px 0px rgba(241, 177, 39, 0.7);
}

.btn:focus, .btn:active, .btn:active:focus{
	outline: none;
}
ul{
	padding: 0;
}
ul > li{
	list-style: none;
}
.wide-container{
	max-width: 1350px;
	width: 95%;
	margin: 0 auto;
	padding: 0;
}

.title{
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.img{
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
}
.img img{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
}
.text p{
    margin-bottom: 35px;
}
.text p span{
	display: block;
	font-size: 1.6em;
	margin-bottom: 10px;

}
.background{
    background: url(../img/desc.png) no-repeat top #27397d;
    background-size: cover;
}

.content{
    background-color: rgba(39, 57, 125, .8);
    padding: 60px 90px;
}
.more{
    display: none;
}
.back, .back-full{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.back > div, .back-full > div{
    position: absolute;
    display: block;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%); 
    
}
@media(max-width: 767px){
    .content{
        padding: 30px 10px;
    }
}
/**  header  **/
header{
	padding: 20px 0 30px;
}
.menu ul{
	text-align: center;
}
.menu ul > li{
	display: inline-block;	
}
.menu ul > li > a{
	font-size: 1.1em;
	color: #f1e027;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	display: block;	
	height: 40px;
	border: 3px solid transparent;
	border-radius: 7px;
	padding: 0 30px;	
}
.menu ul > li > a:hover, .menu ul > li > a:focus, .menu ul > li > a:active, .menu ul > li.current-menu-item > a{
	text-decoration: none;
	border-color: #f1e027;
}
/**  end of header  **/

/**  aside  **/

aside{
    min-height: 600px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
aside section{
    margin: 30px 0;
    width: 270px;
}
aside section:first-child{
    margin-top: 0; 
}
aside .btn{
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    color: #000;
}
aside .title{
    font-size: 1em;
    line-height: 50px;
    background-color: #ccc;
    margin-bottom: 10px;
    width: 100%;
}
.popular{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
}

.popular .block{
    background-color: #333;    
    padding: 25px 0 0;
    max-width: 270px;
    margin-bottom: 10px;
    width: 100%;
}
.popular .img {
    height: 140px;
    width: 184px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.popular .img img{
    width: 100%;
    height: auto;
}
.popular a{
    color: #beb12b;
    text-align: center;
}
.popular a:hover{
    text-decoration: none;
}
.popular .name{
    line-height: 40px;
}

.top{
    height: 272px;
    margin-bottom: 35px;
    position: relative;
}

.top .img img{
    width: 100%;
    min-height: 100%;
}
.top .btn{
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.casino{
    line-height: 50px;
}
.casino .title{
    font-size: 1.1em;
    color: #d3c52a;
    font-weight: bold;
    background-color: #333;    
    margin-bottom: 0;
}
.casino ul > li{
    background-color: #ccc;
    padding: 0 30px;   
    margin-bottom: 2px;
}
.casino ul > li > a{
    position: relative;
    color: #333;
}
.casino ul > li > a:hover, .casino ul > li > a:focus{
    text-decoration: none;
}
.casino ul > li .label{
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 1.05em;
}

.malls .block{
    height: 70px;
    margin-bottom: 10px;
}
.malls .img{
    border: 1px solid #ccc;
}
.malls .img img{
    width: 100%;
    min-height: 100%;
}


.slot .block{
    height: 152px;
}
.slot .img{
    border: 1px solid #ccc;
}
.slot .img img{
    width: 100%;
    height: auto;
    min-height: 100%;
}


@media(max-width: 991px){
    aside section{
        margin: 0 auto 30px;
    }
    .popular{
        order: 5;
    }
    .top{
        order: 1;
    }
    .casino{
        order: 2;
    }
    .malls{
        order: 3;
    }
    .slot{
        order: 4;
    }
}
/**  end of aside  **/

/**  footer  **/

footer{
	color: #fff;
	padding: 15px 0;
}

#to-top{
	display: none;
	position: fixed;
	right: 30px;
	bottom: 120px;
	height: 60px;
	width: 60px;
}
