
/**  description  **/

.description{
    color: #fff;
    margin-bottom: 35px;
}

.description .img{
    height: 172px;   
    margin-bottom: 35px; 
}
.description .img img{
    width: 100%;
    height: auto;     
}

/** end o description  **/

/** games  **/

.games-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
}

.games .block{
    height: 216px;
    width: 242px;
    background-color: #333333;
    padding: 10px 12px;
    color: #fff;
    margin-bottom: 35px;
}
.games .block:hover{
    color: #333;
    background-color: #f1e027;
}
.games .img{
    height: 170px;
    border-radius: 5px;
}
.games .title{   
    font-weight: 200;
}
.games .btn{
    float: right;
    width: 150px;
    height: 37px;
    border-radius: calc(37px / 2);
    line-height: 37px;
    font-size: 1.2em;
    font-weight: bold;
}

@media(max-width: 499px){
    .games .block{
        margin: 0 auto 35px;
    }
}
/** end of games  **/
