.single{
	color: #fff;
	line-height: 22px;
}
.single .title{
	color: #f1e027;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
}
.single .img{
	height: 600px;
}
.single .img img{
	width: 100%;
	height: auto;
	min-height: 100%;
}
.single .btn {
	display: block;
    width: 340px;
    height: 52px;
    line-height: 52px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    color: #000;
    margin: 30px auto;
}